body {
  font-family: 'Share Tech', sans-serif;
  display: grid;
  justify-content: center;
}

main {
  min-width: 10em;
}

.digits{
  display: grid;
  justify-content: center;
  /* margin: 1em; */
  padding: 1em;
  background-color: royalblue;
  /* border: .2em solid; */
  box-shadow: .2em .2em rgb(154, 220, 247);
  border-radius: 2% 2% 0 0;
}

.digit {
  font-size: 2em;
  cursor: pointer;
  width: 4em;
  padding: .5em;
  margin: .1em;
  background-color: midnightblue;
  color: darkorange;
  transition: ease-in-out .5s;
}

#zero {
  width: 8.3em;
}

.digit:hover {
  background-color: darkorange;
  color: midnightblue;
  transform: scale(1.1);
}

.operators {
  display: grid;
  justify-content: center;
  /* margin: 1em; */
  padding: 1em;
  background-color: goldenrod;
  /* border: .2em solid; */
  box-shadow: .2em .2em rgb(154, 220, 247);
}

.operator {
  font-size: 1.5em;
  cursor: pointer;
  width: 4em;
  padding: .5em;
  margin: .1em;
  background-color: darkorange;
  color: midnightblue;
  transition: ease-in-out .5s;
}

.operator:hover {
  background-color:midnightblue;
  color: darkorange;
  transform: scale(1.1);
}

#equal {
  width: 8.3em;

  font-size: 1.5em;
  cursor: pointer;

  padding: .5em;
  margin: .1em;
  background-color: darkorange;
  color: midnightblue;
  transition: ease-in-out 1s;
}

#equal:hover {
  background-color:midnightblue;
  color: darkorange;
  transform: scale(1.1);
}

#back {
  font-size: 1.5em;
  cursor: pointer;
  width: 4em;
  padding: .5em;
  margin: .1em;
  background-color: darkorange;
  color: midnightblue;
  transition: ease-in-out 1s;
}

#back:hover {
  background-color:midnightblue;
  color: darkorange;
  transform: scale(1.1);
}

#clear {
  font-size: 1.5em;
  cursor: pointer;
  width: 4em;
  padding: .5em;
  margin: .1em;
  background-color: darkorange;
  color: midnightblue;
  transition: ease-in-out 1s;
}

#clear:hover {
  background-color:midnightblue;
  color: darkorange;
  transform: scale(1.1);
}

.displays {
  display: grid;
  justify-content: center;
  background-color: rgb(21, 21, 32);
  box-shadow: .1em .1em rgb(154, 220, 247);
  border-radius: 0 0 2% 2%;
}

.display {
  font-size: 3em;
  padding: .5em;
  /* margin: 1em; */
  /* background-color: rgb(21, 21, 32); */
  color: white;
  /* border: .1em solid; */
  height: 1em;
}

#second {
  font-size: 1.5em;
}